.turn{
    width: 100%;
    text-align: center;
    font-style: italic;
    
}
.won{
    margin-left: 400px;
    margin-top: 20px;
}
.reset{
    width: fit-content;
    text-align: center;
    font-style: italic;
    margin-left: 510px;
    margin-top: 20px;
}
